# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
checkpoints copy
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/

playground/data/eval/custom
playground/data/eval/custom2_copy

scripts/unused

wandb

docs
notebooks/vqasynth_warehouse_spaces

*.tex
*.txt
*.jpg
*.jpeg
*.png
*.xlsx
*.csv


*.pth
*.gguf
*.zip
*.tsv